<div class="custom-html">{{ section.settings.html }}</div>

{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    { "type": "html", "id": "html", "label": "HTML" }
  ],
  "presets": [{ "name": "Custom HTML" }]
}
{% endschema %}
